<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <style>
        body { background-color: rgba(212, 97, 97, 0.931);}
        h2, p { text-align: center; color: white; text-decoration: none;}
        h2 {font-size: 50px; color: white;}
        a { color: white; font-size: 20px; text-decoration: none;}
    </style>
</head>
<body>
    <h2>메인</h2>
    <p><a href="/login">로그인</a> | <a href="/signup">회원가입</a></p>
</body>
</html>