<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가입된 사용자 보기</title>
    <style>
    body { background-color: rgba(212, 97, 97, 0.931); text-align: center;}
    h2, p { text-align: center; color: white;}
    h2 {font-size: 50px; color: white;}
    a { color: white; font-size: 20px; text-decoration: none;}
    button{ background-color: black; color: white; border: 0;}
</style>
</head>
<body>
    <h2>가입된 사용자 리스트</h2>
    <button type="submit" name="btn">버튼</button>
</body>
</html>